/* Common buttons */
.ok{
    background-image: url(../img/buttons/16/greenled.png) !important;
}

.cancel{
    background-image: url(../img/buttons/16/redled.png) !important;
}

.close{
    background-image: url(../img/buttons/16/redled.png) !important;
}

.help{
    background-image: url(../img/buttons/16/contexthelp.png) !important;
}

.save{
    background-image: url(../img/buttons/16/filesave.png) !important;
}

.load{
    background-image: url(../img/buttons/16/fileopen.png) !important;
}

.help{
    background-image: url(../img/buttons/16/help.png) !important;
}

/* main toolbar buttons */

.newProject{
    background-image: url(../img/buttons/16/window_new.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.openProject{
    background-image: url(../img/buttons/16/project_open.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.saveProject{
    background-image: url(../img/buttons/16/filesave.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}
.newFile{
    background-image: url(../img/buttons/16/filenew.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.openFile{
    background-image: url(../img/buttons/16/fileopen.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.saveFile{
    background-image: url(../img/buttons/16/filesave.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.saveFileAs{
    background-image: url(../img/buttons/16/filesaveas.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;    
}

.saveAll{
    background-image: url(../img/buttons/16/save_all.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}
.cut{
    background-image: url(../img/buttons/16/editcut.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.copy{
    background-image: url(../img/buttons/16/editcopy.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.paste{
    background-image: url(../img/buttons/16/editpaste.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.delete{
    background-image: url(../img/buttons/16/editdelete.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.fileManager{
    background-image: url(../img/buttons/16/view_tree.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}


p {
    margin:5px;
}
.dataSources{
    background-image: url(../img/buttons/16/db.png) !important;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
}

.settings {
    background-image:url(../img/buttons/16/folder_wrench.png);
}

.info {
    background-image:url(../img/buttons/16/information.png);
}

.newDatabase{
    background-image:url(../img/buttons/16/db_add.png);
}

.deleteDatabase{
    background-image:url(../img/buttons/16/db_remove.png);
}
.editDatabase{
    background-image:url(../img/buttons/16/database_edit.png);
}

.newTable{
    background-image:url(../img/buttons/16/table_new.png);
}

.deleteTable{
    background-image:url(../img/buttons/16/table_delete.png);
}

.editTable{
    background-image:url(../img/buttons/16/table_edit.png);
}

.tableInfo{
    background-image:url(../img/buttons/16/table_info.png);
}

.scriptWindow{
    background-image:url(../img/buttons/16/shellscript.png);
}

.security{
        background-image:url(../img/buttons/16/encrypted.png);
}
.tools{
    background-image:url(../img/buttons/16/connect_no.png);
}

.addUser{
    background-image:url(../img/buttons/16/connect_no.png);
}

.deleteUser{
    background-image:url(../img/buttons/16/connect_no.png);
}

.editUser{
    background-image:url(../img/buttons/16/connect_no.png);
}

.backupDatabase{
    background-image:url(../img/buttons/16/connect_no.png);
}

.executeQuery{
    background-image:url(../img/buttons/16/execute.png);
}

.explainQuery{
    background-image:url(../img/buttons/16/idea.png);
}
.previousTab{
    background-image:url(../img/buttons/16/tab_previous.png);
}

.nextTab{
    background-image:url(../img/buttons/16/tab_duplicate.png);
}

.refresh{
    background-image:url(../img/buttons/16/rebuild.png);
}

.insertRow{
    background-image:url(../img/buttons/16/insert_table_row.png);
}

.deleteRow{
    background-image:url(../img/buttons/16/delete_table_row.png);
}

.select{
    background-image:url(../img/buttons/16/view_detailed.png);
}

.function{
    background-image:url(../img/buttons/16/funct.png);
}

.view{
    background-image:url(../img/buttons/16/xdays.png);
}

.table{
    background-image:url(../img/buttons/16/view_text.png);
}

.storedProcedure{
    background-image:url(../img/buttons/16/runprog.png);
}

.login{
    background-image:url(../img/buttons/16/1rightarrow.png);
}
//tree classes

.tree-database{
    background-image: url(../img/buttons/16/db.png) !important;
    background-color:red !important; 
}

.tree-table{
    
}

.tree-view{
    
}

.tree-procedure{
    
}

.tree-function{
    
}

.tree-field{
    
}
