p, h1, h2, li, a, td, input{
    font-family: "Arial", sans-serif;
}

.legal{
    font-family: "Arial", sans-serif;
    font-size:small;
}

.errorDialogHeader{
    background-image:url(../img/dialogs/16/clanbomber.png);
}